@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.container {
	@include min-max(320px, 100%, 0);
}

.wrap {
	@include min-max(320px, 1200px, 15px);
}