/**
*https://css-tricks.com/shippets/css/a-guide-to-flexbox;
**/
* {
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
.wrap{
	background: #fafafa;
	flex-direction: row-reverse; /*column, column-reverse*/
	display: flex;
	min-height: 100%;
}

.block{
	background: #dddddd;
	color: #000000;
	font-size: 20px;
	border: 1px solid #ff0000;
}

.block2 {

}